@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<footer class="mt-auto px-3 py-2 text-muted">
    <small>v0.6.0-alpha</small> <br />
    <small>&copy; 2026 Neurabrain. All rights reserved.</small>
</footer>